/* @theme tongji */
@import 'default';

:root {
    --color-background: white;
    --color-foreground: #005bab;
    --color-highlight: lightskyblue;
    --font-family-paragraph: "Noto Serif SC", serif;
}

section {
    background-image: url("./images/background.jpg");
    background-size: 100%;
}

section.title {
    background-image: url("./images/title.jpg");
}
section.title h1 {
    top: 30%;
    left: 5%;
    font-size: 60px;
    color: var(--color-background);
}
section.title h2 {
    position: absolute;
    left: 5%;
    top: 40%;
    font-size: 30px;
    color: var(--color-highlight);
}
section.title p {
    position: absolute;
    left: 5%;
    top: 60%;
}
section.chapter {
    background-image: url("./images/chapter.jpg");
}
section.chapter h1 {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: var(--color-foreground);
}
p {
    font-family: var(--font-family-paragraph);
}
p strong {
    color: var(--color-foreground);
}
h1 {
    position: absolute;
    top: 10px;
    left: 20px;
    color: var(--color-background);
    font-size: 30px;
}
h2, h3, h4, h5, h6 {
    color: var(--color-foreground);
}
ul {
    font-family: var(--font-family-paragraph);
}

li {
    font-family: var(--font-family-paragraph);
}

blockquote {
    border-left: 5px solid var(--color-foreground);
    display: block;
    background-color: whitesmoke;
    max-width: 50%;
}

code {
    font-family: 'Fira Code', 'Microsoft YaHei UI', 'Courier New', monospace;
    color: var(--color-highlight);
}
pre code {
    color: black;
}
th {
    color: var(--color-foreground);
}

td {
    font-family: var(--font-family-paragraph);
}

.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2em;
}
